{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block title 'Top or Flop - Catégorie' %}

{% block content %}
    <h2>Catégorie : {{ categorie.nom }}</h2>
    {% for media in categorie.medias %}
        {% include "LexikTopOrFlopBundle:Default:media_list.html.twig" with { 'media': media } %}
        <br />
    {% endfor %}
{% endblock %}
