{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block title 'Top or Flop - flops' %}

{% block content %}
    <h2>Les plus gros Flops</h2>
    {% for index, flop in flops %}
        {% include "LexikTopOrFlopBundle:Default:media_list.html.twig" with { 'media': flop } %}
        <br />
    {% endfor %}
{% endblock %}
