{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block title 'Top or Flop - média' %}

{% block content %}
    <h2>{{ media.title }}</h2>
    <p>
        <img src="{{ media.url }}" /><br />
        <b>Score:</b> {{ media.displayedAverage }}/10  <i>({{ media.votes | length }} votes)</i>
    </p>
    <p><b>Catégorie:</b> 
        <a href="{{ path('show_categorie', {'id': media.getCategorie.id}) }}">
        {{ media.getCategorie.nom }}
    </a></p>
    
    <hr />
    <p>
        {% if is_granted('ROLE_USER') %}
            {% if not media.hasUserAlreadyVoted(app.user) %}
                <b>Top ou Flop ? Votez !</b>
                {{ form_start(form, {'action': path('vote_media', {'id': media.id}), 'method': 'POST', 'class': 'form-horizontal'}) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form.score) }}
                    {{ form_widget(form.save, {'label': 'Voter', 'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_end(form) }}
            {% endif %}
        {% else %}
            <div class="alert alert-block">Vous devez être connecté pour voter.</div>
        {% endif %}
    </p>
{% endblock %}
