<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Top or Flop - Administration{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/lexiktoporflop/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock%}
    </head>
    <body>
        <div class="container">
            <header class="well">
                {% block header %}
                    <h1>Top or Flop ? - <i>Backend</i></h1>
                {% endblock %}
            </header>
            <div class="row">
                <div class="span3">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{{ path('backend_list') }}">Liste des médias</a></li>
                        <li><a href="{{ path('backend_new') }}">Ajouter un média</a></li>
                        <li><a href="{{ path('index') }}">Retourner au site</a></li>
                    </ul>
                </div>
                <div class="span9">
                    {% for type, flashMessages in app.session.flashBag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                 <button type="button" class="close" data-dismiss="alert">x</button>
                                 {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script src="{{ asset('bundles/lexiktoporflop/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
