{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
  <p>Etes-vous certain de vouloir supprimer le media "{{ media.title }}" ?</p>

  <form action="{{ path('backend_del', {'id': media.id}) }}" method="post">
    <a href="{{ path('backend_list') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}