{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.url) }}
        {{ form_row(form.categorie) }}
        {{ form_widget(form.save, { 'label': 'Enregistrer' }) }}
    {{ form_end(form) }}
{% endblock %}
