{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    <h2>Liste des médias</h2>
    {% for index, media in medias %}
        {% include "LexikTopOrFlopBundle:Backend:media_list.html.twig" with { 'media': media } %}
        <br />
    {% endfor %}
{% endblock %}
