<a href="{{ path('show_media', {'id': media.id}) }}">
    {{ media.title }}
</a>
- {{ media.displayedAverage }}/10
<i>({{ media.votes | length }} votes)</i>
{% spaceless %}
    <a href="{{ path('backend_edit', {'id': media.id}) }}">
        <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editer
        </button>
    </a>
    <a href="{{ path('backend_del', {'id': media.id}) }}">
        <button type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
        </button>
    </a>
{% endspaceless %}